
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Homeless Hub</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/cover.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
        <!--       <h3 class="masthead-brand">Homeless Hub</h3> -->
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li><a href="/howitworks">How It Works</a></li>
                  <li><a href="/signin">Sign Up</a></li>
                   <li><a href="/profile">Profile</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>

     

 <div class="container">
          
          <div class="jumbotron">
            
            <h1>Mission and Purpose</h1>
            
            <div class="section group">
              <div class="col span_3_of_8">
                  <IMG SRC="homelessness.png" width ="300" height="300"> 
              </div>

              <div class="col span_5_of_8">
                <p>
                <br>
                <p class="text-left">
                  Living on the streets, is not pretty. 
                <p class="text-left">
                  Unsure of where to sleep the next day is intiminating.
                <p class="text-left">
                  Not knowing where your next meal is coming from, if at all, is crushing.
                </p> 
              </div>

            </div>

            <div class="section group">
              <div class="col span_5_of_8">
                <p>
                <br><br>
                <p class="text-right">
                  But if there was a place to start a new life.
                <p class="text-right">
                  A place to share thier story.
                <p class="text-right">
                  A place to reach out to the world.
                </p>
              </div>
                
              <div class="col span_3_of_8"> 
                <IMG SRC="coffee-pick-your-brain.png" width ="300" height="300"> 
              </div>
            </div>

            <div class="section group">
              <div class="col span_3_of_8">  
                <div style="float: left;">
                  <IMG SRC="Man_Sunset_Stockphoto.png" width ="300" height="300"> 
                </div>
              </div>
              
              <div class="col span_5_of_8">  
                <p>
                <br><br><br><br>
                <p class="text-left">
                    <b>
                      With some work and a lot of effort, anyone can advance themselves.
                    </b>
                </p>
              </div>
            </div>
            
            <p>
            <br> 
            <p class="text-center">
              Homeless Hub is a non-profit service that gives homeless people another chance to make a living for themselves. By allowing homeless people to communicate with possible donors in a way that is not intimidating or looked down upon. We strive to change the stigma against homelessness. In addition to breaking down barriers and unecessary social prejudice, we aim to decrease America's unemployment rate. 
              <p class="text-center">
              This web app was created for homeless persons to share there stories. The stories are then processed and the strongest/weakest skills are displayed visually. A profile is then created from these stories, skills, and additional information. This profile will be sent to a sister website where donors can fund the profile's training. The progress of funding can be veiwed on this web page.
            </p>
              
            <p>
              <center>
              <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">
                Sign up page</a>
               </center> 
            </p>

          </div>


















    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
