
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Homeless Hub</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/profile.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
        <!--       <h3 class="masthead-brand">Homeless Hub</h3> -->
              <nav>
                <ul class="nav masthead-nav">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">How It Works</a></li>
                  <li><a href="/signin">Sign Up</a></li>
                  <li><a href="/profile">My Profile</a>
                  <li><a href="#">Contact</a></li>
                </ul>
              </nav>
            </div>
          </div>
       </div> 
              <p><p>
        <p><p>
  <div class="row">
  <div class="col-xs-6 col-sm-4">
    
     </div>
  <div class="col-xs-6 col-sm-4"><div class="circular"></div></div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4"></div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4"></div>
  <div class="col-xs-6 col-sm-4"></div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4"></div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4"></div>
  <div class="col-xs-6 col-sm-4">Name:  Bob Turner</div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4">My Story:</div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4"></div>
  <div class="col-xs-6 col-sm-4">Age: 29</div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4"></div>
</div>
<div class="row">
  <div class="col-xs-6 col-sm-4"></div>
  <div class="col-xs-6 col-sm-4">Goal Job: Software Engineer </div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4"></div>
</div>
   
<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-8">Skills Learned: <b> -HTML 

  </div>
  <div class="col-xs-6 col-md-4">Skills Wanting to Learn: CPR</div>
</div>

<div class="row">
  <div class="col-xs-6 col-sm-4"></div>
  <div class="col-xs-6 col-sm-4">
    Looking to raise $500. <p>
    <div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
  aria-valuemin="0" aria-valuemax="100" style="width:40%">
    40% Complete (success)
  
  </div>
</div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-6 col-sm-4"></div>
</div>

    <!-- <div id = "rectangle"> 

      <div class="section group">
        
        <div class="col span_1_of_2">
          <center>
            <div class="circular">
                    
             </div>
           </center>
        </div>
        
        <div class="col span_1_of_2">
            <div class="section group">
              Name: Bob Turner
            </div>
            <div class="section group">
              <div class="col span_2_of_2">
                Age: 29
              </div>
            </div>
 
            <div class="section group">
              <div class="col span_2_of_2">
                Goal job: Material Engineer
              </div>
            </div>

          <div class="section group">
              <p class="col span_2_of_2"> 
                Skills needed for job: 
                
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a magna eget ipsum finibus imperdiet non bibendum turpis. Etiam a dui sagittis, facilisis felis eget, luctus turpis. Suspendisse mollis malesuada justo, quis tempus odio vestibulum at. Quisque rutrum egestas ante, nec lacinia tortor sagittis elementum. Suspendisse neque eros, vehicula a bibendum efficitur, aliquam eu dolor. Quisque a feugiat magna. Aliquam posuere massa vitae aliquam fringilla. Pellentesque suscipit est sagittis tortor sagittis suscipit. Aliquam ut libero quis lacus malesuada vulputate ut vitae est. Praesent at eleifend dolor. Morbi varius tristique leo ut mattis. Pellentesque vitae sagittis orci, non lacinia velit. Nam vitae finibus elit, at facilisis tellus. Mauris vel arcu massa.

                Etiam leo lectus, auctor id eros et, porttitor semper purus. Integer blandit diam neque. Cras facilisis malesuada porta. In imperdiet ac ligula in porta. Pellentesque sed purus at dui euismod malesuada. Cras porttitor euismod dolor, eleifend ultrices lorem pellentesque vel. Maecenas luctus nulla non risus ultrices, in dignissim augue volutpat. Integer placerat lectus a viverra lacinia. Curabitur ornare dignissim neque quis sodales. Fusce porta mauris ante, sed varius nisl bibendum vitae. Aenean quis libero felis. Nullam ut lacinia metus, id malesuada metus. Aenean id erat aliquam, sagittis magna in, ullamcorper metus. Ut accumsan semper diam eget fringilla. Duis blandit dignissim ex, tristique sagittis augue vulputate ut.

                Aliquam volutpat nibh sit amet elit maximus laoreet. Ut tristique fermentum massa sit amet scelerisque. Pellentesque quis ex enim. Donec in rutrum eros. Morbi quis lectus at massa vehicula egestas. Suspendisse hendrerit elit in ligula vulputate semper. Vestibulum pulvinar purus sit amet libero sodales, ac porta diam laoreet. Nullam arcu lacus, aliquam et convallis at, convallis at erat. Maecenas et magna eu mi convallis tincidunt. Pellentesque efficitur metus eget dignissim malesuada. Proin eu massa rhoncus, viverra sem a, pharetra nulla. Cras ac dolor non quam suscipit tristique eget ut arcu. Vestibulum vitae nisl faucibus, sollicitudin diam nec, auctor libero. Ut accumsan suscipit lorem sed iaculis. Fusce at ipsum molestie neque tincidunt auctor. Nunc volutpat ac dui a malesuada.

                Curabitur consectetur nibh sed orci dignissim, sed semper augue finibus. Mauris condimentum urna eget malesuada convallis. Nullam nisi lacus, consectetur id accumsan ut, sodales a magna. Quisque neque nisi, tincidunt id metus et, consequat aliquam metus. Mauris semper viverra sapien, varius auctor metus consequat a. Maecenas et est sem. In hac habitasse platea dictumst. Vestibulum quis erat eros. Ut porttitor tortor ante, ut dictum orci fringilla non. Sed vitae porta lorem, nec interdum sem. Ut quis tincidunt libero. Nullam dapibus viverra leo ut convallis. Donec vitae congue ante.

                Nulla eget feugiat dolor. Phasellus fermentum arcu non quam pulvinar tempus. Integer auctor eleifend mauris. Sed ullamcorper id mi nec convallis. Curabitur mauris tellus, congue non ultrices malesuada, faucibus vitae odio. Nunc id vehicula nunc. Etiam elementum eget erat nec sagittis. Nullam a nisi ullamcorper, vestibulum velit a, facilisis dolor. Suspendisse eget nulla semper, accumsan ante in, malesuada neque.
              </p>
          </div>  

          <div class="section group">
            <p class="col span_2_of_2">
              Biography:

              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam interdum porttitor lectus, in viverra neque placerat lacinia. Fusce sed eros at nulla tempor luctus sed et elit. Integer tempus enim est. Praesent id massa eget purus luctus porttitor. Vivamus a accumsan velit, non volutpat sem. Etiam id erat hendrerit, lacinia enim blandit, varius nulla. Etiam auctor commodo justo, tincidunt ultricies lorem sagittis eget. Phasellus erat urna, facilisis eget quam eu, molestie lobortis dolor. Etiam vitae eros non orci bibendum tincidunt vitae quis dolor. Nullam a fringilla eros, vel hendrerit lorem. Aliquam fringilla nunc non sapien bibendum mollis. Suspendisse eu rutrum purus. Integer dui sem, pharetra auctor massa non, dignissim pellentesque felis. Etiam pretium molestie risus, nec consectetur ipsum placerat at. Maecenas id nisl ex. Aenean quis ante commodo, semper nisi et, facilisis turpis.

              Suspendisse in sapien vestibulum, finibus ipsum ac, aliquam nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas bibendum convallis nunc, sed suscipit sem aliquam eu. Proin vel dolor turpis. Aenean facilisis laoreet turpis, vitae vulputate tortor egestas in. Vivamus at nulla feugiat, tempor neque id, sagittis diam. Proin molestie posuere mauris, ac condimentum turpis ultrices eget. Nulla dolor sapien, porttitor eu elit nec, bibendum sollicitudin quam. Integer viverra malesuada massa, eget ultrices nisl vestibulum eu. Aenean malesuada nec dolor in dapibus. Duis in elit ipsum. 
            
            </p>
          </div>
        </div> -->
      
    </div>
    </div>















    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
